@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body { 
    background-color: #000000;
    color:#F6F6F6;
    height: 100vh;
    box-sizing: border-box;
}

.destaqueCeleste {
    color:#00FF00 ;
}

.presentacion {
    display: flex;
    align-items: center;
    margin: 10% 15%;
    justify-content: space-between;
}

.presentacion_contenido {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion_contenido_titulo{
    font-size: 40px;
    font-family: "Iceland", serif;
    font-weight: 400;
    font-style: normal;
}

.presentacion_contenido_texto{
    font-size: 30px;
    font-family: "Iceland", serif;
    font-optical-sizing: auto;
    font-weight: 400;

    font-style: normal;
}

.presentacion_enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion_enlaces_link{
    width: 378px;
    border: 2px solid #00FF00;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: "Iceland", serif;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    color: #f6f6f6;
}
.presentacion_enlaces_subtitulos{
font-family: "Iceland", serif;
font-size: 24px;
font-weight: 400;
}